@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.nav-bar {
  /* height: 100px; */
  width: 100%;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 100;
}

.continer-width {
  width: 87%;
  margin: auto;
}

.navigation {
  background-color: #eee;
  height: 50px;
  margin: auto;
  display: flex;
}
.nav-left {
  width: 35%;
  height: 100%;
  display: flex;
  /* background-color: aquamarine; */
}
.nav-center {
  width: 20%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: end;
  /* background-color: chartreuse; */
}
.nav-right {
  width: 45%;
  /* background-color: honeydew; */
  height: 100%;
}
.nav-left ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-left ul li {
  height: 100%;
  display: flex;
  padding: 0 15px;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav-center img {
  width: 100px;
}

.nav-left ul li:hover {
  background-color: #dbdada;
  cursor: pointer;
}
.nav-right ul {
  display: flex;

  gap: 10px;

  justify-content: end;

  align-items: center;

  height: 100%;
  /* background-color: red; */
}
.nav-right ul li {
  text-transform: uppercase;
  padding: 0 15px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
}
.nav-right ul li i {
  font-size: 25px;
}
.nav-right ul li:hover {
  background-color: #dbdada;
  cursor: pointer;
}

.btn-search {
  display: flex;
  /* background-color: red; */
  align-items: center;
  height: 75%;
  width: 150px;
  /* padding: 0 10px; */
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.btn-search input {
  width: 75%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-search i {
  width: 25%;
}
.nav-right ul li:hover:first-child {
  background-color: transparent;
}
.hero-section {
  height: 630px;
  /* background-color: red; */
  margin: auto;
}
.img-hero {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  position: relative;
}
.btn-container {
  position: absolute;
  bottom: 13%;
  left: 38%;
  display: flex;
  gap: 10px;
}
.btn-container button {
  padding: 15px 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.btn-container button:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
}

/* brand */
.brand {
  height: 170px;

  display: flex;
}
.brand-img {
  width: 14.28%;
  height: 100%;
}
.brand-img img {
  width: 100%;
  height: 100%;
}

/* life-style */
.life-style {
  height: 600px;
  background-color: lightblue;
  display: flex;
  gap: 1%;
}
.life-style div {
  width: 32.66%;
  height: 100%;
  /* background-color: blue; */
}
.life-style div img {
  width: 100%;
  height: 100%;
}
